@model QuickProject.Helpers.Pager<EntityModel.Course>

@{
   
    ViewData["Title"] = "Index";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="index" asp-controller="Courses">Courses</a></li>

    </ol>
</nav>
<div class="card">
    <div class="card-header">
        List Of Availble Courses <a asp-action="Create" class="btn btn-primary pull-right"> <i class="fa fa-plus"></i>New Course</a>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Course Name
                    </th>
                    <th>
                        Fees
                    </th>
                    <th>
                        Duration
                    </th>
                    <th>
                        Details
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CourseName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fees)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DurationInDays)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Details)
                        </td>

                        <td>
                            <div class="btn btn-group">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm "><i class="fa fa-plus"></i>Edit</a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i>Details</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm"><i class="fa fa-recycle"></i>Delete</a>
                            </div>
                           
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <div class="card-footer">
        <ul class="pagination">
           
        </ul>
    </div>
</div>