@model EntityModel.Transcation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transcation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentGateWay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentGateWay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TranscationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TranscationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Response)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Response)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Succeeded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Succeeded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRefund)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRefund)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedByUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedByUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateByUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateByUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommentThread)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommentThread.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
